@if (Request.IsAuthenticated)
{   
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
       @Html.AntiForgeryToken()
        <li>
            <a href="#" title="user profile">@CurrentUser.DisplayName</a>
            <ul>
                <li><a href="/users/profile" class="external">Edit Profile</a></li>
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()" class="external">Log out</a>
                </li>
            </ul>
        </li>
    }
}
else
{
    <li>@Html.ActionLink("Register", "Register", "Account", null, new { id = "registerLink", @class="external" })</li>
    <li>@Html.ActionLink("Log in", "Login", "Account", null, new { id = "loginLink", @class = "external" })</li>
}
