<section class="one-section dm-hero" id="features">
    <div class="middle-content">
        <div style="text-align: center;">
            <div style="display: inline-block;"><img src="/images/logo-white.png"></div>
            <div style="display: inline-block;">
                <h1>Mvc Skins</h1>
                <h2>The union of templates and MVC code</h2>
            </div>
        </div>
    </div>
</section>