@using WhiteLabel.Web.Views
<footer class="page-footer-bottom">
    <div class="grid-row">
        <!-- secondary nav -->
        <nav class="secondary-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>
        <!--/ secondary nav -->
        <!-- copyrights -->
        <div class="copyrights">© 2014 - HobbyClue. All rights reserved.</div>
        <!--/ copyrights -->
    </div>
</footer>


<a href="#" id="scroll-top" class="scroll-top soc-icon soc-icon-grey fa fa-angle-up" style="display: inline;"></a>
