<header class="header-2" style="height: auto;">
    <div class="nav-container stickmenu clearfix" style="top: 0px;">
        <div class="inner">
            <ul class="main-menu">
                <li class="active"><a href="#features">Features</a></li>
                <li><a href="#dm-themes">Themes</a></li>
                <li><a href="/support" target="_blank" class="external">Support</a></li>
                @Html.Partial("_LoginPartial")
                <li><a class="external" href="#dm-themes">Downloads</a></li>
            </ul>
            <!-- end:main-menu -->
            <div id="mobile-menu" class="dl-menuwrapper">
                <button class="dl-trigger"><i class="fa fa-bars"></i></button>
                <ul class="dl-menu">
                    <li class="active"><a class="scroller" href="#features">Features</a></li>
                    <li><a class="scroller" href="#dm-themes">Themes</a></li>
                    <li><a href="http://support.woorockets.com/" target="_blank" class="external">Support</a></li>
                    @Html.Partial("_LoginPartial")
                    <li><a class="external" href="#dm-themes">Downloads</a></li>
                </ul>
            </div><!--end:nav-container-->
        </div>
    </div>
</header>