@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="homeDiv">
    <h2>
        This is home page for Forum module. To view the products in Men module, please select a category from top menu. 
    </h2>
</div>

