<section class="one-section dm-hero" id="features">
    <div class="middle-content">
        <div>
            <img src="/images/logo-white-small.png" alt="logo" />
        </div>
        <div style="margin-left: 10px;">
            <h1>Mvc Skins</h1>
            <h2>Beatiful starter kits using ASP.NET MVC</h2>
        </div>
    </div>
</section>